@import './variables.scss';

.about{
    position: relative;
    width: 100%;
    padding-bottom: 30px;
    background-color: white;
    overflow: hidden;
}

@mixin triangle($size: 25px, $direction: 'up') {
    position: absolute;
    width: 0;
    height: 0;
    border-width: $size;
    border-style: solid;
    border-color: transparent;
    @if $direction == 'up'{
        border-top-color: $light-black;
    } @else{
        border-bottom-color: $light-black;
    };
}

.topLeft{
    @include triangle;
    transform: translateX(-50%);
}

.topRight{
    @include triangle;
    right: 0;
    transform: translateX(50%);
}

.bottomLeft{
    @include triangle($direction: 'down');
    bottom: 0;
    transform: translateX(-50%);
}

.bottomRight{
    @include triangle($direction: 'down');
    bottom: 0;
    right: 0;
    transform: translateX(50%);
}

.title{
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    font-size: 3rem;
    font-family: 'Carter One', cursive;
}

.barWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.bar{
    display: inline-block;
    width: 0;
    height: 0;
    border: 3px solid $light-black;
    border-radius: 2px;
    border-left-width: 50px;
    border-right-width: 50px;
}

.summary{
    width: 100%;
    max-width: 1100px;
    margin: 20px auto 0 auto;
    color: $light-black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.perkContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin: 20px auto 0 auto;
}

.perk{
    width: 100%;
    max-width: 450px;
}

.perkImg{
    display: block;
    width: auto;
    height: 125px;
    margin: 0 auto;
}

.perkTitle{
    text-align: center;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 500;
}

.perkDesc{
    font-size: 1.1rem;
    text-align: center;
}

@media (min-width: 1981px){
    .summary{
        max-width: 1600px;
    }
    .perkContainer{
        max-width: 2100px;
    }
    .perk{
        max-width: 650px;
    }
    .perkImg{
        width: auto;
        height: 200px;
    }
}

@media (max-width: 1050px){
    .topLeft{
        @include triangle(50px);
    }
    
    .topRight{
        @include triangle(50px);
    }
    
    .bottomLeft{
        @include triangle(40px, 'down');
    }
    
    .bottomRight{
        @include triangle(40px, 'down');
    }
}

@media(max-width: 975px){
    .perkContainer{
        flex-direction: column;
        align-items: center;
    }
};

@media (max-width: 500px){
    .perkDesc{
        font-size: 1.5rem;
    }
}