
.navbar{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
}

.logo{
    display: block;
    width: 40px;
    height: 40px;
}

.linkContainer{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.linkWrapper{
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover{
        border-bottom: 3px solid white;
    }
}

.link{
    font-size: 1.1rem;
    font-family: 'Carter One', cursive;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.icon{
    margin-left: 5px;
    padding-bottom: 7px;
}

.fadeIn{
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}