@import './variables.scss';

.projects{
    padding-top: 1px;
    padding-bottom: 50px;
    background-color: $light-black;
    color: white;
    overflow: hidden;
}

.instruction{
    text-align: center;
    font-size: 1.3rem;
    margin: 5px 0;
}

.container{
    box-sizing: border-box;
    margin-top: 50px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.project{
    margin-top: 150px;
    display: flex;
    &:nth-child(even){
        .projectImg{
            order: 2;
        }
        .projectText{
            order: 1;
            margin-left: 0;
            margin-right: 30px;
        }
    }
}

.projectImg{
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 400px;
    flex-shrink: 0;
    &:hover{
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border: 300px solid transparent;
            border-right-color: rgba(0, 0, 0, 0.6);
            border-top-width: 200px;
            border-bottom-color: rgba(0, 0, 0, 0.6);
            border-bottom-width: 200px;

            animation: slideInBottom 650ms forwards;
        }

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border: 300px solid transparent;
            border-left-color: rgba(0, 0, 0, 0.6);
            border-top-width: 200.2px;
            border-top-color: rgba(0, 0, 0, 0.6);
            border-bottom-width: 200.2px;

            animation: slideInTop 650ms forwards;
        }
    }
}

.projectLinkContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;

    opacity: 0;
    animation-name: fade;
    animation-delay: 650ms;
    animation-duration: 650ms;
    animation-fill-mode: forwards;
}

.projectLink{
    width: 200px;
    height: 65px;
    background-color: transparent;
    border: 3px solid white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 500ms;

    animation-name: delay-pointer-events;
    animation-delay: 1300ms;
    animation-fill-mode: forwards;

    &:hover{
        background-color: rgba(0, 0, 0, 0.801);
    }
    &:visited{
        color: white;
    }
}

.projectIcon{
    margin-left: 10px;
}

.projectText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.projectTitle{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.projectDesc{
    font-size: 1.6rem;
    margin: 0;
}

.projectTools{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

@keyframes slideInBottom{
    from{
        transform: translate(50%, 50%);
    }
    to{
        transform: translate(0, 0);
    }
}

@keyframes slideInTop{
    from{
        transform: translate(-50%, -50%);
    }
    to{
        transform: translate(0, 0);
    }
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes delay-pointer-events {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@media(max-width: 1150px){
    .project{
        flex-direction: column;
        align-items: center;
        &:nth-child(even){
            .projectImg{
                order: 1;
            }
            .projectText{
                order: 2;
                margin: 0;
            }
        }
    }
    .projectTitle, .projectDesc, .projectTools{
        text-align: center;
        margin: 20px 0;
        padding: 0 20px;
    }
}

@media(max-width: 650px){
    .project{
        margin-top: 75px;
    }
    .projectImg{
        width: 450px;
        height: 300px;
        &:hover{
            &::after{
                border: 225px solid transparent;
                border-right-color: rgba(0, 0, 0, 0.6);
                border-top-width: 150px;
                border-bottom-color: rgba(0, 0, 0, 0.6);
                border-bottom-width: 150px;
            }
    
            &::before{
                border: 225px solid transparent;
                border-left-color: rgba(0, 0, 0, 0.6);
                border-top-width: 150px;
                border-top-color: rgba(0, 0, 0, 0.6);
                border-bottom-width: 150px;
            }
        }
    }
};

@media(max-width: 500px){
    .projectImg{
        width: 300px;
        height: 200px;
        &:hover{
            &::after{
                border: 150px solid transparent;
                border-right-color: rgba(0, 0, 0, 0.6);
                border-top-width: 100px;
                border-bottom-color: rgba(0, 0, 0, 0.6);
                border-bottom-width: 100px;
            }
    
            &::before{
                border: 150px solid transparent;
                border-left-color: rgba(0, 0, 0, 0.6);
                border-top-width: 100px;
                border-top-color: rgba(0, 0, 0, 0.6);
                border-bottom-width: 100px;
            }
        }
    }
    .projectLink{
        width: 100px;
        height: 32.5px;
        border: 2px solid white;
        font-size: 1.5rem;
    }
};